# Environments
.env
.env.local
.venv
backend/data/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Next.js / React / Node
node_modules/
**/.next/
/out/
build/
.DS_Store
*.log

# Misc
.vscode/
.idea/
*.sqlite3
